

<div class="box" >


  <div class="box-header with-border  headertitle" > 
    <h3 class="box-title"><b>Création employé(e)</b></h3>
    <div class="box-tools pull-right">

          <button type="button" class="btn btn-block  btn-sm exemple"  (click)="retourlist()" >Retour liste</button>

    </div>
    <!--(click)="retourliste()-->
  </div>


   


  <div class="box box-default">
    <div class="box-header with-border soustitre" >
      <h3 class="box-title"  >Informations générales</h3>
    </div>

    <!-- /.box-header -->
    <form [formGroup]="addEmploye"(ngSubmit)="add()">
    <div class="box-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="codearticle">Nom </label>
            <input  type="text" class="form-control" id="nom" name="nom" formControlName="nom"placeholder="">
            <div *ngIf="nom.touched && nom.invalid">
              <small *ngIf="nom.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  Nom  est requis<br></small>
              <small *ngIf="nom.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  Nom  doit etres 3  caracteres au minimum<br></small>
              <small *ngIf="nom.errors.pattern" class="text-danger"><i class=" fa fa-times-circle"></i> Nom est seulement lettre<br></small>
            </div>
          </div>
          
        </div>   

        <div class="col-md-2" >
          <div class="form-group">
            <label for="libelle">Prenom</label>
            <input type="text" class="form-control" id="prenom"name="prenom" formControlName="prenom" placeholder="">
            <div *ngIf="prenom.touched && prenom.invalid">
              <small *ngIf="prenom.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  prenom  est requis<br></small>
              <small *ngIf="prenom.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  prenom  doit etres 3  caracteres au minimum<br></small>
              <small *ngIf="prenom.errors.pattern" class="text-danger"><i class=" fa fa-times-circle"></i> prenom est seulement lettre<br></small>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="codearticle">Adress</label>
            <input type="text" class="form-control" id="adress" name="adress" formControlName="adress"placeholder="" >
            <div *ngIf="adress.touched && adress.invalid">
              <small *ngIf="adress.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  adress  est requis<br></small>
              <small *ngIf="adress.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  adress  doit etres 3  caracteres au minimum<br></small>
            </div>
           </div>
        </div>  
        <div class="col-md-2">
          <div class="form-group">
            <label for="codearticle">N°telephone</label>
            <input type="text" class="form-control" id="telephone" name="telephone" formControlName="telephone"placeholder="">
            <div *ngIf="telephone.touched && telephone.invalid">
              <small *ngIf="telephone.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  telephone  est requis<br></small>
              <small *ngIf="telephone.errors.pattern" class="text-danger"><i class="fa fa-times-circle"></i>  telephone  doit etres 8 chiffres  <br></small>
            </div>
          </div>
        </div>  

      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="codearticle">Carte d'identité</label>
            <input type="text" class="form-control" id="cin" name="cin" formControlName="cin">
          </div>
        </div>  

        <div class="col-md-3">
          <div class="form-group">
            <label for="codearticle">N° CNSS</label>
            <input type="text" class="form-control" id="cnss" name="cnss" formControlName="cnss"placeholder="" >
          </div>
        </div> 

        
       

      </div>
      <div class="row">
        
  
        <div class="col-md-3">
          <div class="form-group">
            <label>Type de contrat</label>
            <select class="form-control select2" class="form-control" style="width: 100%;" id="typec" name="typec" formControlName="typec"   value="typebox">
              <option selected value="" disabled>{{typebox}}</option>
              <option value="contrat CDI">Contrat CDI</option>
              <option value="contrat CDD">Contrat CDD</option>
              <option value="saisonnier">Saisonnier</option>
              <option value="stagiaire">Stagiaire</option>
            </select>
          </div>
  
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Spécialité</label>
            <select  class="form-control select2" class="form-control"  style="width: 100%;"  id="specialite" name="specialite"  formControlName="specialite"value="typebox">
              <option  selected value="" disabled>{{typebox}}</option>
              <option *ngFor="let s of listespecialiter" [value] = s.idspecialiter>{{s.libelle}}</option>
            </select>    
          </div>
        </div>


      </div>



      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-block   btn-success btn-sm ajout"[disabled]="addEmploye.invalid"  >Créer employé(e)</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <!-- /.row -->
   


  <!-- /.box-defaut -->

  <div class="box box-default"  >
  
    <div class="box-header with-border soustitre">
      <h3 class="box-title">Détails employé(e)</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

    <div class="box-body" >
      <table id="example1" class="table table-bordered">
        <thead >
          <tr>
            <th class="col-md-1">Matricule</th>
            <th   class="col-md-2">Nom Prénom </th>
            <th  class="col-md-2">Adresse</th>
            <th  class="col-md-2">N°telephone</th>
            <th  class="col-md-1">CIN</th>
            <th  class="col-md-1">CNSS</th>
            <th  class="col-md-1">Contrat</th>
            <th  class="col-md-1">Spécialité</th>
            <th  class="col-md-1">Action</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor = "let e of employees">
            <td><b>{{e.idEmployee}}</b></td>
            <td>{{e.nomEmployee}}&nbsp;{{e.prenomEmployee}}</td>
            <td>{{e.adressEmployee}}</td>
            <td>{{e.telEmployee}}</td>
            <td>{{e.cinEmployee}}</td>
            <td>{{e.cnssEmployee}}</td>
            <td>{{e.type_contrat}}</td>
            <td>{{e.libelle}}</td>
            <td><button class="btn btn-danger btn-sm" style="margin-left: 10px; "(click)="supprimer(e.idEmployee) "><i class="fa fa-trash"></i></button></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
  <!--boxbody defaut-->
</div>















































