<div class="box" style="background-color:rgba(109, 125, 177, 0.198);">


  <div class="box-header with-border  headertitle">
    <h3 class="box-title"><b>Création fournisseur</b></h3>
    <div class="box-tools pull-right">

          <button type="button" class="btn btn-block btn-sm"  style="background-color:rgba(32, 23, 153, 0.781); color: cornsilk;" (click)="retourliste()">Retour liste</button>

    </div>
    <!--(click)="retourliste()-->

  </div>


  


  <div class="box box-default">
    <div class="box-header with-border soustitre">
      <h3 class="box-title">Informations générales</h3>
 
      <div class="box-tools pull-right">
      </div>
    </div>
    <!-- /.box-header -->
    <form [formGroup]="addFournisseur"(ngSubmit)="add()">
    <div class="box-body" style="background-color:rgba(109, 125, 177, 0.198);">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="codearticle">Nom </label>
            <input type="text" class="form-control" id="nomfournisseur" name="nomfournisseur" formControlName="nomfournisseur"placeholder="" >
            <div *ngIf="nomfournisseur.touched && nomfournisseur.invalid">
              <small *ngIf="nomfournisseur.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  Nom  est requis<br></small>
            
            </div>
          </div>
        </div>  

        <div class="col-md-4">
          <div class="form-group">
            <label for="libelle">Adresse</label>
            <input type="text" class="form-control" id="adress"name="adresse" formControlName="adress" placeholder="">
            <div *ngIf="adress.touched && adress.invalid">
              <small *ngIf="adress.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  adresse  est requis<br></small>
              <small *ngIf="adress.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  adresse  doit etres 3  caracteres au minimum<br></small>
            </div>
          </div> 
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="codearticle">Ville</label>
            <input type="text" class="form-control" id="ville" name="ville" formControlName="ville"placeholder="" >
            <div *ngIf="ville.touched && ville.invalid">
              <small *ngIf="ville.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  ville  est requis<br></small>
              <small *ngIf="ville.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  ville  doit etres 3  caracteres au minimum<br></small>
            </div>
          </div>
        </div>  
        <div class="col-md-2">
          <div class="form-group">
            <label for="codearticle">Code postal</label>
            <input type="text" class="form-control" id="codepostal" name="codepostal" formControlName="codepostal"placeholder="" >
            <div *ngIf="codepostal.touched && codepostal.invalid">
              <small *ngIf="codepostal.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  codepostal  est requis<br></small>
              <small *ngIf="codepostal.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  codepostal  doit etres 3  caracteres au minimum<br></small>
            </div>
          </div>
        </div>  

      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="codearticle">Adress E_mail </label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email"placeholder="" >
            <div *ngIf="email.touched && email.invalid">
              <small *ngIf="email.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  E_mail  est requis<br></small>
              <small *ngIf="email.errors.pattern" class="text-danger"><i class="fa fa-times-circle"></i> L'adresse e-mail doit contenir au moins le caractère @<br></small>
            </div>
          </div>
        </div>  

        <div class="col-md-3">
          <div class="form-group">
            <label for="codearticle">N° telephone</label>
            <input type="text" class="form-control" id="telephone" name="telephone" formControlName="telephone"placeholder="">
            <div *ngIf="telephone.touched && telephone.invalid">
              <small *ngIf="telephone.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  telephone  est requis<br></small>
              <small *ngIf="telephone.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  telephone  doit etres 8  caracteres au minimum<br></small>
            </div>
          </div>
        </div> 

        <div class="col-md-3">
          <div class="form-group">
            <label for="codearticle">N° Fax</label>
            <input type="text" class="form-control" id="fax" name="fax" formControlName="fax"placeholder="" >
            <div *ngIf="fax.touched && fax.invalid">
              <small *ngIf="fax.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  fax  est requis<br></small>
              <small *ngIf="fax.errors.minLength" class="text-danger"><i class="fa fa-times-circle"></i>  fax  doit etres 8  caracteres au minimum<br></small>
            </div>
          </div>
        </div>  
       

      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <button type="submit"  class="btn btn-block  btn-sm"style="background-color:rgba(194, 0, 0, 0.63); color: cornsilk;"[disabled]="addFournisseur.invalid" >Créer Fournisseur</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <!-- /.row -->




  <!-- /.box-defaut -->

  <div class="box box-default">
  
    <div class="box-header with-border soustitre" >
      <h3 class="box-title">Détails Fournisseur</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

    <div class="box-body">
      <table id="example1" class="table table-bordered">
        <thead style="background-color:rgba(109, 125, 177, 0.198);">
          <tr>
            <th class="col-md-2">Nom</th>
            <th   class="col-md-3">Adresse </th>
            <th  class="col-md-2">E_mail</th>
            <th  class="col-md-2">N°telephone</th>
            <th  class="col-md-2">N°Fax</th>
            <th  class="col-md-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of fournisseur">
            <td><b>{{e.nomfr}}</b></td>
            <td>{{e.adresse}},&nbsp;{{e.villefr}},&nbsp;{{e.codepostal}}</td>
            <td>{{e.mailfr}}</td>
            <td>{{e.telfr}}</td>
            <td>{{e.fax}}</td>
            <td><button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="suppfournisseur(e.idfr)"><i
                  class="fa fa-trash"></i></button></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
  <!--boxbody defaut-->
</div>
















































