<div class="box">
  <div class="box-header with-border  headertitle">
    <h3 class="box-title" class=" text-center">Liste des reception</h3></div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
          <tr>
            <th class=" text-center">N°reception</th>
            <th class=" text-center">code_article</th>
            <th class=" text-center">Quantite</th>
            <th class=" text-center">N°Support</th>
            <th class=" text-center">N°emplacement</th>
            <th class=" text-center">Fournisseur</th>
            <th class=" text-center">Date reception</th>
            <th class=" text-center">DLC</th>
            <th class=" text-center">Prix Unitaire</th>
            <th class=" text-center">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of reception">
            <td class=" text-center">{{r.idrecep}}</td>
            <td class=" text-center">{{r.art}}</td>
            <td class=" text-center">{{r.qte}}</td>
            <td class=" text-center">{{r.idsupport}}</td>
            <td class=" text-center">{{r.idemplacement}}</td>
            <td class=" text-center">{{r.fournisseur}}</td>
            <td class=" text-center">{{r.datrecep}}</td>
            <td class=" text-center">{{r.datfin}}</td>
            <td class=" text-center">{{r.prixttc}}</td>
            <td>
              <button class=" btn btn-fill btn-info" ><i class="fa fa-edit"></i></button>
              <button class="btn btn-warning btn-sm"style="margin-left: 10px;"(click)="supprime(r.idrecep)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!-- /.box-body -->

</div>