

  <div class="box" >


    <div class="box-header with-border  headertitle" > 
      <h3 class="box-title"><b>Création Produit </b></h3>
      
      <!--(click)="retourliste()-->
    </div>
  
  
     
  
  
    <div class="box box-default">
      <div class="box-header with-border soustitre" >
        <h3 class="box-title"  >Informations générales</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body" >
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="diametre">diametre </label>
              <input  type="text" class="form-control" id="diametre" name="diametre" [(ngModel)]="diametre "placeholder="" value="diametre" value="{{diametre}}" required>
            </div>
          </div>   
  
          <div class="col-md-2" >
            <div class="form-group">
              <label for="nom">Nom produit</label>
              <input type="text" class="form-control" id="nomProduit" name="nomProduit" [(ngModel)]="nomProduit" placeholder=""value="nomProduit" value="{{nomProduit}} " required>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="form-group">
              <label>Type</label>
              <select  class="form-control select2" class="form-control"  style="width: 100%;"  id="type" name="type"  [(ngModel)]="type"value="{{type}}"  required>
                <option  selected value="" disabled>{{typebox}}</option>
                <option *ngFor="let s of listescategorie" [value] = s.libelle>{{s.libelle}}</option>
              </select>    
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="cout">Coût de Revien</label>
              <input type="text" class="form-control" id="coutrevien" name="coutrevien" [(ngModel)]="coutrevien"placeholder=""   value="{{coutrevien}}"required>
            </div>
          </div>  
  
          <div class="col-md-3">
            <div class="form-group">
              <label for="vente">Prix vente</label>
              <input type="text" class="form-control" id="prixvente" name="prixvente" [(ngModel)]="prixvente"placeholder="" value="{{prixvente}}" required>
            </div>
          </div> 
  
          
         
  
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="tva">TVA%</label>
              <input type="text" class="form-control" id="tva" name="tva" [(ngModel)]="tva"placeholder="" value="{{tva}}" required>
            </div>
          </div> 
          <div class="col-md-3">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" class="form-control" id="descriptionProduit" name="descriptionProduit" [(ngModel)]="descriptionProduit" placeholder=""   value="{{descriptionProduit}}"required></textarea> 
            </div>
          </div> 
    
          
         
  
  
        </div>
  
  
  
        <div class="row">
  
          <div class="col-md-3">
            <div class="form-group">
              <button type="button"class="btn btn-block  btn-success btn-sm ajout" (click)="edit()" >modifier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
     
  
  
    <!-- /.box-defaut -->
  
    <div class="box box-default"  >
    
      <div class="box-header with-border soustitre" >
        <h3 class="box-title">Détails produit</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
  
      <div id="tableau" class="box-body">
        <table id="example1" class="table table-bordered">
          <thead >
            <tr>
              <th class="col-md-1">diamétre</th>
              <th   class="col-md-2">Nom produit </th>
              <th  class="col-md-2">Type</th>
              <th  class="col-md-2">Coût de Revient </th>
              <th  class="col-md-2">Prix vente</th>
              <th  class="col-md-3">Description</th>
           
              <th  class="col-md-1">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let e of produit">
              <td><b>{{e.diametre}}</b></td>
              <td>{{e.nomProduit}}</td>
              <td>{{e.libelle}}</td>
              <td>{{e.coutrevien}}</td>
              <td>{{e.prixvente}}</td>
              <td>{{e.descriptionProduit}}</td>
             
              <td><button class="btn btn-success btn-sm" style="margin-left: 10px;  "(click)="retourliste()"><i class="fa fa-check"></i></button></td>
            </tr>
  
          </tbody>
        </table>
      </div>
  
    </div> 
    <!--boxbody defaut (click)="supprimer(e.idEmployee) "-->
  </div>
  