<!-- Content Wrapper. Contains page content -->


      <!-- Default box -->
      <div class="box">

        <div class="box-header with-border  headertitle">
          <h3 class="box-title"><b>Liste de vente</b></h3>

          
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-block  btn-sm"  style="background-color:rgba(32, 23, 153, 0.781); color: cornsilk;"(click)="affliste()" ><b>afficher liste</b></button>
          </div>




        </div>

        
        <div class="box box-default">

          <div class="box-header with-border soustitre">
            <h3 class="box-title"> Rechercher date  production</h3>
            <div class="box-tools pull-right">  
              <input type="text" class="form-control input-lg" class="text-center bold" id="benficetotal" name="benficetotal" [(ngModel)]="benficetotal" value="{{benficetotal}}" disabled="disabled" disabled required>
            </div>
  
            <div class="box-tools pull-right">  
              &nbsp;&nbsp;&nbsp;
            </div>
  
          <div class="box-tools pull-right">  
              <label for="libelle">Benefice TOTAL</label>
            </div>

          </div>


          <div class="box-body">

            <div class="row">

              <div class="col-md-8">
                <div class="input-group">
                <span class="input-group-btn">
                  <div class="form-group">
                    
                    <input type="text" class="form-control" id="datprod" placeholder="Date production"  name="datprod" [(ngModel)]="datprod" style="width: 130px;"  value= "datprod" required>
                  </div>
                </span>
                
      
                <span class="input-group-btn">
                  <p>&nbsp;</p>
                </span>
        
             
              
      
      
      
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-sm" type="submit" (click)="Recherche()" ><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
                </span>
              </div>
      
              </div>
      


            </div>
             <!--row1-->




           



           
            </div>
            <!-- boxbody-->

        </div>
        <!--boxbody defaut-->

      
        <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title">Liste des productions</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

<div class="box-body">
<table id="example1" class="table table-bordered">
<thead>
  <tr>
    <th class="col-md-1">dateprod </th>
    
    <th class="col-md-2" >Nbre produit</th>
    <th class="col-md-2">Quantite VENTE</th>
    <th class="col-md-2">Montant TOTAL</th>
    <th class="col-md-2">Benefice TOTAL</th>
    <th class="col-md-2">Action</th>


  </tr>
</thead>
<tbody>
  <tr *ngFor="let e of production">
    <td>{{e.datprod}}</td>
    <td>{{e.Nbreproduit}}</td>

    <td>{{e.qtevente}}</td>
    <td>{{e.montantvente}}</td>
    <td>{{e.benficeProd}}</td>
      
    <td>
        <button class="btn btn-warning btn-sm"style="margin-left: 10px;" [routerLink]="['../ventes',e.datprod]"> <i class="fa fa-gear"></i></button>&nbsp;&nbsp;
        <button class="btn btn-danger btn-sm"style="margin-left: 10px;" (click)="supprimer(e.datprod)" ><i class="fa fa-trash"></i></button>

    </td>    
</tr>      


</tbody>
</table>
</div>

        </div>
        <!--boxbody defaut-->

      </div>
      <!--box-->



    

