<!-- Content Wrapper. Contains page content -->


      <!-- Default box -->
      <div class="box">

        <div class="box-header with-border  headertitle">
          <h3 class="box-title"><b>Liste de vente</b></h3>

          
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-block  btn-sm exemple " (click)="affliste()" ><b>afficher liste</b></button>
          </div>




        </div>

        
        <div class="box box-default">

          <div class="box-header with-border soustitre">
            <h3 class="box-title"> Rechercher date  production</h3>
            <div class="box-tools pull-right">  
              <input type="text" class="form-control input-lg" class="text-center bold" id="benficetotal" name="benficetotal" [(ngModel)]="benficetotal" value="{{benficetotal}}" disabled="disabled" disabled required>
            </div>
  
            <div class="box-tools pull-right">  
              &nbsp;&nbsp;&nbsp;
            </div>
  
          <div class="box-tools pull-right">  
              <label for="libelle">Benefice TOTAL</label>
            </div>

          </div>


          <div class="box-body">

            <div class="row">

              <div class="col-md-5">
                <div class="form-group">
                  <label for="codarticle">code article</label>
                  <form class="form-inline md-form mr-auto mb-4">
                    <input class="form-control mr-sm-2" type="date" id="dateprod" name="dateprod" [(ngModel)]="dateprod" required>
                    <button class="btn btn-primary btn-sm exemple" type="submit" (click)=" Rechercher()" ><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
                  </form>
                </div>
              </div> 
      
      


            </div>
             <!--row1-->




           



           
            </div>
            <!-- boxbody-->

        </div>
        <!--boxbody defaut-->

      
        <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title">Liste des productions</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

<div class="box-body">
<table id="example1" class="table table-bordered">
<thead>
  <tr>
    <th class="col-md-1">date vente </th>
    
    <th class="col-md-2" >Quantite production</th>
    <th class="col-md-2">Quantite VENTE</th>
    <th class="col-md-2">Montant TOTAL</th>
    <th class="col-md-2">Benefice TOTAL</th>
    <th class="col-md-2">Action</th>


  </tr>
</thead>
<tbody>
  <tr *ngFor="let e of vente">
    <td>{{e.date_ajout}}</td>
    <td>{{e.qteproduction}}</td>

    <td>{{e.qtevente}}</td>
    <td>{{e.montanttotal}}</td>
    <td>{{e.benefice}}</td>
      
    <td>
        <button class="btn btn-primary btn-sm"style="margin-left: 10px;" [routerLink]="['../detail',e.datprod]"> <i class="fa fa-eye"></i></button>&nbsp;&nbsp;
        <button class="btn btn-danger btn-sm"style="margin-left: 10px;"data-toggle="modal" (click)="supprimer(e.idvente)" data-target="#delete"><i class="fa fa-trash"></i></button>

    </td>    
</tr>      


</tbody>
</table>
</div>

        </div>
        <!--boxbody defaut-->

      </div>
      <!--box-->


      <div class="modal modal-danger fade" id="delete" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" class="text-center">confirmation suppression </h4>
            </div>
            <div class="modal-body">
              <p class="text-center">Voulez vous vraiment supprimer ?? {{sup}} </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Non , anuuler</button>
              <button type="submit" class="btn btn-outline" (click)="delete( sup)" data-dismiss="modal" >Oui , supprimer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
      </div>
    

