<!-- Content Wrapper. Contains page content -->

<!-- Default box -->


<div class="box"style="background-color:rgba(109, 125, 177, 0.198);" >

    <div class="box-header with-border  headertitle">
      <h3 class="box-title"><b>Creation specialité</b></h3>
      <div class="box-tools pull-right">
   
        <button type="button" class="btn btn-block btn-sm" style="background-color:rgba(32, 23, 153, 0.781); color: cornsilk;"(click)="retourliste()" >Retour liste</button>
  
  </div>
    </div>
    
  
    <div class="box box-default">
      <div class="box-header with-border soustitre">
        <h3 class="box-title">Informations specialité</h3>
      </div>
  
  
  
  
      <!-- /.box-defaut -->
       
        <!-- /.box-header -->
        <form [formGroup]="addSpecialite"(ngSubmit)="ajouter()">
        <div class="box-body"  style="background-color:rgba(109, 125, 177, 0.198);">
          
          <div class="row">
  
            <div class="col-md-3">
                <div class="form-group">
  
                  <label class="control-label">libelle specialité </label>
                  <input type="text" class="form-control" id="libelle" name="libelle" formControlName="libelle"  >
                  <div *ngIf="libelle.touched && libelle.invalid">
                    <small *ngIf="libelle.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>libelle  est requis<br></small>
                  </div>
                </div>
              </div>
      
              <div class="col-md-3">
                <div class="form-group">
                  <label for="description">Salaire mensuelle</label>
                  <input type="text" class="form-control" id="salairet" name="salairet" formControlName="salairet" >
                  <div *ngIf="salairet.touched && salairet.invalid">
                    <small *ngIf="salairet.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>salairet  est requis<br></small>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-2">
                <div class="form-group">
                  <label for="description">Salaire journalié</label>
                  <input type="text" class="form-control" id="salairej" name="salairej" disabled   formControlName="salairej" [value]="salairj()">
                </div>
              </div> -->
           
      
            </div>
            <!-- /.row -->
            <br>
            <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <button type="submit" class="btn btn-block  btn-sm"style="background-color:rgba(194, 0, 0, 0.63); color: cornsilk;"[disabled]="addSpecialite.invalid" >Créer  </button>
              </div>
            </div>
          </div>
  
        </div>
      </form> 
  
        </div>
  </div>
  
  
    <!--</div>-->
  
    <div class="box box-default">
  
      <div class="box-header with-border soustitre">
        <h3 class="box-title" >Détails specialité</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
  
      <div class="box-body"style="background-color:rgba(109, 125, 177, 0.198);" >
        <table id="example1" class="table table-bordered">
          <thead >
            <tr>
              <th class=" text-center" class="col-md-1">Id</th>
              <th class=" text-center" class="col-md-3">libelle specialité</th>
              <th  class=" text-center" class="col-md-2">salaire mensuelle </th>
              <th  class=" text-center" class="col-md-2">salaire journalié </th>
              <th class=" text-center" class="col-md-2">Action</th>
            </tr>
          </thead>
          <tbody style="background-color:rgb(254, 254, 255);">
  
            <tr *ngFor="let s of specialite">
              <td>{{s.idspecialiter}}</td>
              <td>{{s.libelle}}</td>
              <td>{{s.salairetotale}}</td>
              <td>{{s.salairejour}}</td>
              <td><button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="suppspecialiter(s.idspecialiter)" ><i class="fa fa-trash"></i></button></td>
            </tr>
  
          </tbody>
        </table>
      </div>
  
    </div>
  
  
  
  
  