<!-- Content Wrapper. Contains page content -->


      <!-- Default box -->
      <div class="box">

        <div class="box-header with-border  headertitle">
          <h3 class="box-title"><b>Mise A jour production  de vente</b></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-block btn-success btn-sm" (click)="valider(dateprod)">Validée</button>
          </div>
        </div>

        
        <div class="box box-default">

          <div class="box-header with-border soustitre">
            <h3 class="box-title"> Rechercher production</h3>
          </div>


          <div class="box-body">

            <div class="row">

              <div class="col-md-2">
                <div class="form-group">
                  <label for="dateprod">date de production</label>
                  <input type="text" class="form-control" id="dateprod" name="dateprod" [(ngModel)]="dateprod" required>
                </div>
                </div>

          

                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="libelle"></label>
                      <button type="button" class="btn btn-block btn-success" (click)="rechprod()" >Rechercher</button>
                  </div>
                </div>

                <div class="col-md-3">
                  
                </div>

 

            </div>
             <!--row1-->




            <div class="row">

              




            </div>
            <!--row1-->



           
            </div>
            <!-- boxbody-->

        </div>
        <!--boxbody defaut-->

      
        <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title">Liste des productions</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

<div class="box-body">
<table id="example1" class="table table-bordered">
<thead>
  <tr>

    <th class="col-md-1">date prod  </th>
 
    <th class="col-md-1">ID produit</th>
    <th class="col-md-1">libelle</th>
    <th class="col-md-1">Qte Prod</th>
    <th class="col-md-1">Montant Prod</th>
    <th class="col-md-1">Qte Restante</th>
    <th class="col-md-1">Qte Rejeter</th>
    <th class="col-md-1">Qte Vente</th>
    <th class="col-md-2">Date création</th>
    <th class="col-md-2">Action</th>


  </tr>
</thead>
<tbody>
  <tr *ngFor="let e of production">

    <td>{{e.dateprod}}</td>
     
    <td>{{e.idProduit}}</td>
    <td>{{e.nomProduit}}</td>
    <td>{{e.qte}}</td>
    <td>{{e.qte *e.prixvente}}</td>
    <td><input type="text" class="form-control" id="qterest" name="qterest" [(ngModel)]="e.qterest" value="{{e.qterest}}" required> </td>
    <td><input type="text" class="form-control" id="qterejeter" name="qterejeter	" [(ngModel)]="e.qterejeter	" value="{{e.qterejeter}}"required></td>
    <td>{{e.qtevente}}</td>
    <td>{{e.datesys}}</td> 
       
    <td>
        <button class="btn btn-success btn-sm"style="margin-left: 10px;" (click)="update(e.dateprod,e.idProduit,e.qte,e.qterest,e.qterejeter	)" > <i class="fa fa-save "></i></button>&nbsp;&nbsp;
        <button class="btn btn-danger btn-sm"style="margin-left: 10px;" (click)="supprimer(e.numproduction)" ><i class="fa fa-trash"></i></button>

    </td>    
</tr>      


</tbody>
</table>
</div>

        </div>
        <!--boxbody defaut-->

      </div>
      <!--box-->



    


      


