<!-- Content Wrapper. Contains page content -->


<!-- (click)="annuler(nfacture)" Default box -->
<div class="box">

    <div class="box-header with-border  headertitle">
      <h3 class="box-title"><b> Fiche salaire</b></h3>
  
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-block btn-danger btn-sm"(click)="retour()">RETOUR</button>
      </div>
      <div class="box-tools pull-right">
        &nbsp;&nbsp;&nbsp;
      </div>
     
    </div>
    <div id="imprimer">
    <div class="box box-default">
      <div class="box-header with-border soustitre">
        <h3 class="box-title"> Fiche</h3>
        <div class="box-tools pull-right">  
            <h4 class="box-title" >{{datefiche}}</h4>
          </div>

          <div class="box-tools pull-right">  
            &nbsp;&nbsp;&nbsp;
          </div>

        <div class="box-tools pull-right">  
            <label for="libelle">Date:</label>
          </div>
       
      </div>
      <!-- /.box-header -->
      <div class="box-body">
  
        <div class="row">
          <div class="col-md-2 col-lg-2 col-xs-2">
            
            <div class="box-title" >Matricule : &nbsp;{{matricule}} </div>


          </div>

          <div class="col-md-1 col-lg-1 col-xs-1">
        
          </div>
          
         
  
          <div class="col-md-5 col-lg-5 col-xs-5">
            
            <div class="box-title" >Nom et Prénom : &nbsp;{{nomEmployee}} &nbsp;{{prenomEmployee}}</div>
            
            


        </div>
          
        <div class="col-md-1 col-lg-1 col-xs-1">
        
        </div>
        <!-- /.row  [(ngModel)]="adresse" placeholder="" value="adressebox"-->
      
        <div class="col-md-3 col-lg-3 col-xs-3">
            <div class="box-title"  >CIN : &nbsp;{{cinEmployee}}</div>
        </div>
  
        <!-- /.row -->
  
      </div>
      <!-- /.box-defaut -->
     <div class="row">

      <br>
      <br>
     </div>
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-3">     
          <div class="box-title" >Specialité : &nbsp;{{libelle}}</div>
      </div>
      <div class="col-md-1 col-lg-1 col-xs-1">
        
      </div>
      <div class="col-md-3 col-lg-3 col-xs-3">     
        <div class="box-title" >CNSS : &nbsp;{{cnssEmployee}}</div>
    </div>
      </div>
      <div class="row">
       <br>
        
      </div>
  
          
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-3">
            
          <div class="box-title" >Salaire De Base : &nbsp;{{salairetotale}}</div>
          
          


      </div>
        
      </div>
        </div>
  
  
  
    <div class="box box-default">
  
      <div class="box-header with-border soustitre">
        <h3 class="box-title" >Détails Facture</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
  
      <div class="box-body">
        <table class="table table-bordered" >
            <thead >
              <tr>
               
                <th scope="col">Code</th>
                <th scope="col">Libelle</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sal/Prime</th>
                <th scope="col">Retenue</th>
               
              </tr>
            </thead>
          <tbody>
            <tr>
              <th scope="row">01</th>
              <td>Nombre de jour</td>
              <td>{{nbrjour}}</td>
              <td>{{montant}}</td>
            </tr>
            <tr>
              <th scope="row">05</th>
              <td>Jours ferié 200%</td>
              <td>{{jourferier}}</td>
              <td>{{prime}}</td>
            </tr>
            <tr>
              <th scope="row">07</th>
              <td>Indement De Transport</td>
              <td></td>
              <td>{{indtransport}}</td>
            </tr>
            <tr>
              <th scope="row">08</th>
              <td>Majoration Indement  Transport</td>
              <td></td>
              <td>{{majtransport}}</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Prime de presence</td>
              <td></td>
              <td>{{primePr}}</td>
            </tr>
            <tr>
              <th scope="row">14</th>
              <td>Prime de Panier</td>
              <td></td>
              <td>{{primeP}}</td>
            </tr>
            <tr>
              <th scope="row">21</th>
              <td>Conge Paye {{years}}</td>
              <td>{{conger}}</td>
              <td>{{congier}}</td>
            </tr>
            <tr>
              <th scope="row">40</th>
              <td>SALAIRE BRUT</td>
              <td></td>
              <td>{{salairebrute}}</td>
            </tr>
            <tr>
              <th scope="row">41</th>
              <td>C N.S.S</td>
              <td></td>
              <td></td>
              <td>{{cnss}}</td>
            </tr>
            <tr>
              <th scope="row">51</th>
              <td>SALAIRE IMPOSABLE</td>
              <td></td>
              <td>{{salaireimpossable}}</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">52</th>
              <td>IRPP+CSS</td>
              <td></td>
              <td></td>
              <td>{{irpp_css}}</td>
            </tr>
           
          </tbody>
        </table>
        <br><br><br>







<div class="col-md-5 col-lg-5 col-xs-5">


</div>





<div class="col-md-6 col-lg-6 col-xs-6" style="border-style: solid;">

    <div class="row">

        <div class="col-md-2 col-lg-2 col-xs-2">
            </div>
    
            <div class="col-md-4 col-lg-4 col-xs-4">
                <h4 class="box-title"><b> NET A PAYER </b></h4>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2">
                <h4 class="box-title"><b>{{salairenet}}</b></h4>
            </div>
    </div>
    
    
   
    
    
   
</div>
      </div>
    </div>
      

    </div>
  
  </div>
  <div><button class="btn btn-primary btn-sm"style="margin-left: 10px;" (click)="print('imprimer')">Imprimer</button>
    &nbsp;&nbsp;
 </div>

