<!-- Content Wrapper. Contains page content -->


<!-- (click)="annuler(nfacture)" Default box(click)="valider(nfacture)" -->
<div class="box">

    <div class="box-header with-border  headertitle">
      <h3 class="box-title"><b>Creation Fiche salaire</b></h3>
  
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-block btn-danger btn-sm">Annuler</button>
      </div>
      <div class="box-tools pull-right">
        &nbsp;&nbsp;&nbsp;
      </div>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-primary btn-success btn-sm" ><b>Valider Fiche</b></button>
      </div>
      
    </div>
    
    <div class="box box-default">
      <div class="box-header with-border soustitre">
        <h3 class="box-title">Informations Fiche</h3>
        <div class="box-tools pull-right">  
            <h4 class="box-title" >{{datefiche1}}</h4>
          </div>

          <div class="box-tools pull-right">  
            &nbsp;&nbsp;&nbsp;
          </div>

        <div class="box-tools pull-right">  
            <label for="libelle">Date:</label>
          </div>
       
      </div>
      <!-- /.box-header -->
      <div class="box-body">
  
        <div class="row">
          <div class="col-md-2 col-lg-2 col-xs-2">
            
            <input type="text" class="form-control" id="matricule" 
                placeholder="Matricule employer"  name="matricule" [(ngModel)]="matricule" required>
             
          


          </div>


          
          <div class="col-md-2 col-lg-2 col-xs-2">
        
        </div>
  
          <div class="col-md-3 col-lg-3 col-xs-3">
            
            <div class="box-title" >Nom et Prénom: &nbsp;{{datefiche1}}</div>
            
            


        </div>
          
        <div class="col-md-1 col-lg-1 col-xs-1">
        
        </div>
        <!-- /.row  [(ngModel)]="adresse" placeholder="" value="adressebox"-->
      
        <div class="col-md-2 col-lg-2 col-xs-2">
            <div class="box-title" >CIN: &nbsp;{{datefiche1}}</div>
        </div>
  
        <!-- /.row -->
  
      </div>
      <!-- /.box-defaut -->
     <div class="row">

      <br>
      <br>
     </div>
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-3">     
          <div class="box-title" >Specialité: &nbsp;{{datefiche1}}</div>
      </div>
      <div class="col-md-1 col-lg-1 col-xs-1">
        
      </div>
      <div class="col-md-3 col-lg-3 col-xs-3">     
        <div class="box-title" >CNSS: &nbsp;{{datefiche1}}</div>
    </div>
      </div>
      <div class="row">
       <br>
        
      </div>
  
          
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-3">
            
          <div class="box-title" >salaire de base &nbsp;{{datefiche1}}</div>
          
          


      </div>
        
      </div>
        </div>
  
  
  
    <div class="box box-default">
  
      <div class="box-header with-border soustitre">
        <h3 class="box-title" >Détails Facture</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
  
      <div class="box-body">
        <table class="table table-bordered" >
            <thead >
              <tr>
               
                <th scope="col">code</th>
                <th scope="col">Libelle</th>
                <th scope="col">Nombre</th>
                <th scope="col">sal/prime</th>
                <th scope="col">retenue</th>
               
              </tr>
            </thead>
          <tbody>
            <tr>
              <th scope="row">01</th>
              <td>nombre de jour</td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
              <td>50</td>
            </tr>
            <tr>
              <th scope="row">05</th>
              <td>jours ferie 200%</td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
              <td>50</td>
            </tr>
            <tr>
              <th scope="row">07</th>
              <td>Indement De Transport</td>
              <td></td>
              <td>6.426</td>
            </tr>
            <tr>
              <th scope="row">08</th>
              <td>Majoration Indement  Transport</td>
              <td></td>
              <td>45.486</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Prime de presence</td>
              <td></td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
            </tr>
            <tr>
              <th scope="row">14</th>
              <td>Prime de Panier</td>
              <td></td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
            </tr>
            <tr>
              <th scope="row">21</th>
              <td>Conge Paye {{years}}</td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">40</th>
              <td>SALAIRE BRUT</td>
              <td></td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
            </tr>
            <tr>
              <th scope="row">41</th>
              <td>C N.S.S</td>
              <td></td>
              <td></td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
            </tr>
            <tr>
              <th scope="row">51</th>
              <td>SALAIRE IMPOSABLE</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">52</th>
              <td>IRPP+CSS</td>
              <td></td>
              <td></td>
              <td><input  type="text" class="form-control" id="nomclient" 
                placeholder="nmb" required></td>
            </tr>
           
          </tbody>
        </table>
        <br><br><br>







<div class="col-md-5 col-lg-5 col-xs-5">


</div>





<div class="col-md-6 col-lg-6 col-xs-6" style="border-style: solid;">

    <div class="row">

        <div class="col-md-2 col-lg-2 col-xs-2">
            </div>
    
            <div class="col-md-4 col-lg-4 col-xs-4">
                <h4 class="box-title"><b> NET A PAYEE </b></h4>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-2">
                <h4 class="box-title"><b>55</b></h4>
            </div>
    </div>
    
    
   
    
    
   
</div>
      </div>
  
    </div>
  
  </div>
 </div>

