<div class="box">
    <div class="box-header with-border headertitle">
      <h3 class="box-title" class="text-center">Sortie Stock</h3>
    </div>
    <div class="box-body">
      <form>  
        <div class="row">
          <div class="col-md-6">
            <div class=" form-group">
              <label>code article</label>
              <input class=" form-control" type="text" id="CodArt" required  />
            </div>
          </div> 
        <div class="col-md-6">
          <div class=" form-group">
            <label> Quantite</label>
            <input class=" form-control" type="text" id="Quantite"  required  />
          </div>
        </div> 
          <div class=" col-md-6">
            <div class=" form-group">
              <label>N°Support</label>
              <input class=" form-control"  type="text" id="date_reception"  required/>
            </div>
          </div> 
       <div class=" col-md-6">
            <div class=" form-group">
                <label>Motif Sortie</label>
                <select class="form-control select2" style="width: 100%;" required>
                  <option selected="selected">selectioner un Motif</option>
                  <option>Fabrication</option>
                  <option >destruction </option>
                  <option>Retour</option>
              
                </select>
            </div>
          </div>
        </div> 
        
      </form>
    </div>
    <div class="card-footer"> 
      <button class="btn btn-fill btn-primary" style="margin-left: 10px;" (click)="sup()">Valider</button> 
    </div>
  
  
    <!-- /.box-body -->
  </div>
  
