.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}
 
.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #8aa4af;
}
 
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #243238;
    color: #fff;
}
 
.sidebar ul li a i {
    margin-right: 5px;
}
 
.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #1e282c;
    color: #fff;
}
 
.sidebar ul ul a {
    background: #1e282c;
    padding-left: 30px;
    font-size: 14px;
}
 
.sidebar ul ul li.active > a {
    background: #1e282c;
}
 
.sidebar a[data-toggle="collapse"] {
    position: relative;
}
 
.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}