<!-- Content Wrapper. Contains page content -->


<!-- Default box -->
<div class="box">

  <div class="box-header with-border  headertitle">
    <h3 class="box-title"><b>Liste des production de vente</b></h3>

  </div>


  <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title"> Rechercher production</h3>
    </div>


    <div class="box-body">

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="codarticle">date prod</label>
            <input type="date" class="form-control" id="dateprod" name="dateprod" [(ngModel)]="dateprod" required>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="libelle"></label>
            <button type="button" class="btn btn-block btn-success" (click)="rechprod()">Rechercher</button>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="libelle"></label>
            <button type="button" class="btn btn-block btn-success" (click)="affliste()">Affiche liste</button>
          </div>
        </div>

      </div>
      <!--row1-->

      <div class="row">
      </div>
      <!--row1-->

    </div>
    <!-- boxbody-->

  </div>
  <!--boxbody defaut-->


  <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title">Liste des productions</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

    <div class="box-body">
      <table id="example1" class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-1">dateprod </th>

            <th class="col-md-1">Nbre produit</th>
            <th class="col-md-1">Quantite</th>
          
            <th class="col-md-2">Date création</th>
            <th class="col-md-2">Action</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of production">
            <td>{{e.dateprod}}</td>

            <td>{{e.nbrproduit}}</td>
            <td>{{e.qteproduction}}</td>
         
            <td>{{e.datesys}}</td>
            <td>
              <button class="btn btn-warning btn-sm" style="margin-left: 10px;" [routerLink]="['../reste',e.dateprod]">
                <i class="fa fa-gear"></i></button>&nbsp;&nbsp;
              <button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="supprimer(e.dateprod)"><i
                  class="fa fa-trash"></i></button>

            </td>
          </tr>


        </tbody>
      </table>
    </div>

  </div>
  <!--boxbody defaut-->

</div>
<!--box-->