<!-- Content Wrapper. Contains page content -->


<!-- Default box -->
<div class="box">

  <div class="box-header with-border  headertitle">
    <h3 class="box-title"><b>Liste des production de vente</b></h3>
    <div class="box-tools pull-right">
   
      <button type="button" class="btn btn-block btn-success btn-sm ajout"(click)="ajouterarticle()" >Ajouter article</button>

</div>

<div class="box-tools pull-right">
  &nbsp;&nbsp;&nbsp;
</div>
<div class="box-tools pull-right">
  <button type="button" class="btn btn-primary btn-sm exemple"(click)="affliste()"><b>afficher liste</b></button>
</div>
  </div>


  <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title"> Rechercher production</h3>
    </div>


    <div class="box-body">

      <div class="row">
        
          <div class="col-md-5">
            <div class="form-group">
              <label for="codarticle">code article</label>
              <form class="form-inline md-form mr-auto mb-4">
                <input class="form-control mr-sm-2" type="date" id="dateprod" name="dateprod" [(ngModel)]="dateprod" required>
                <button class="btn btn-primary btn-sm exemple" type="submit" (click)=" rechprod()" ><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
              </form>
            </div>
          </div> 
        </div>

      </div>
      <!--row1-->

      <div class="row">
      </div>
      <!--row1-->

    
    <!-- boxbody-->


  <!--boxbody defaut-->


  <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title">Liste des productions</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

    <div class="box-body">
      <table id="example1" class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-1">dateprod </th>

            <th class="col-md-1">Nbre produit</th>
            <th class="col-md-1">Quantite</th>
          
            <th class="col-md-2">Date création</th>
            <th class="col-md-2">Action</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of production">
            <td>{{e.dateprod}}</td>

            <td>{{e.nbrproduit}}</td>
            <td>{{e.qteproduction}}</td>
         
            <td>{{e.datesys}}</td>
            <td>
              <button class="btn btn-warning btn-sm" style="margin-left: 10px;" [routerLink]="['../reste',e.dateprod]">
                <i class="fa fa-gear"></i></button>&nbsp;&nbsp;
              <button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="supprimer(e.dateprod)"><i
                  class="fa fa-trash"></i></button>

            </td>
          </tr>


        </tbody>
      </table>
    </div>

  </div>
  <!--boxbody defaut-->

</div>
<!--box-->