<div class="box">
  <div class="box-header with-border soustitre headertitle">
    <h3 class="box-title"><b>Création Produit </b></h3>
    <div class="box-tools pull-right">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="retourlist()"
      >
        Retour liste
      </button>
    </div>
    <!--(click)="retourliste()-->
  </div>

  <div class="box box-default">
    <div class="box-header with-border soustitre">
      <h3 class="box-title">Informations générales</h3>

      <div class="box-tools pull-right"></div>
    </div>
    <!-- /.box-header -->
    <form [formGroup]="addProduit" (ngSubmit)="add()">
      <div
        class="box-body"
        style="background-color: rgba(109, 125, 177, 0.198);"
      >
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="dd">diametre </label>
              <input
                type="text"
                class="form-control"
                id="dd"
                name="diametre"
                formControlName="diametre"
               
              />
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label for="nom">Nom produit</label>
              <input
                type="text"
                class="form-control"
                id="nom"
                name="nom"
                formControlName="nom"
                placeholder=""
              />
              <div *ngIf="nom.touched && nom.invalid">
                <small *ngIf="nom.errors.required" class="text-danger"
                  ><i class="fa fa-times-circle"></i> Nom est requis<br
                /></small>
                <small *ngIf="nom.errors.minLength" class="text-danger"
                  ><i class="fa fa-times-circle"></i> Nom doit etres 3
                  caracteres au minimum<br
                /></small>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Type</label>
              <select
                class="form-control select2"
                class="form-control"
                style="width: 100%;"
                id="type"
                name="type"
                formControlName="type" 
              >
                <option selected value="null" disabled>choisir</option>
                <option *ngFor="let s of listescategorie" [value]="s.idtype">{{
                  s.libelle
                }}</option>
              </select>
              <div *ngIf="type.touched && type.invalid">
                <small *ngIf="type.errors.required" class="text-danger"
                  ><i class="fa fa-times-circle"></i> Nom est requis<br
                /></small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="cout">Coût de Revien</label>
              <input
                type="text"
                class="form-control"
                id="cout"
                name="cout"
                formControlName="cout"
                placeholder=""
              />
              <div *ngIf="cout.touched && cout.invalid">
                <small *ngIf="cout.errors.required" class="text-danger"
                  ><i class="fa fa-times-circle"></i> Coût de Revien est
                  requis<br
                /></small>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="vente">Prix vente</label>
              <input
                type="text"
                class="form-control"
                id="vente"
                name="vente"
                formControlName="vente"
                placeholder=""
              />
              <div *ngIf="vente.touched && vente.invalid">
                <small *ngIf="vente.errors.required" class="text-danger"
                  ><i class="fa fa-times-circle"></i> Prix vente est requis<br
                /></small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="tva">TVA%</label>
              <input
                type="text"
                class="form-control"
                id="tva"
                name="tva"
                formControlName="tva"
              />
              <div *ngIf="tva.touched && tva.invalid">
                <small *ngIf="tva.errors.required" class="text-danger"
                  ><i class="fa fa-times-circle"></i> Nom est requis<br
                /></small>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                type="text"
                class="form-control"
                id="description"
                name="description"
                formControlName="description"
              
                 
              ></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-block btn-sm"
                [disabled]="addProduit.invalid"
              >
                Créer
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /.row -->

  <!-- /.box-defaut -->

  <div class="box box-default">
    <div class="box-header with-border soustitre">
      <h3 class="box-title">Détails produit</h3>

      <div class="box-tools pull-right"></div>
    </div>

    <div id="tableau" class="box-body">
      <table id="example1" class="table table-bordered">
        <thead>
          <tr>
            <th class="col-md-1">diamétre</th>
            <th class="col-md-2">Nom produit</th>
            <th class="col-md-2">Type</th>
            <th class="col-md-2">Coût de Revient</th>
            <th class="col-md-2">Prix vente</th>
            <th class="col-md-3">Description</th>

            <th class="col-md-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of produit">
            <td>
              <b>{{ e.diametre }}</b>
            </td>
            <td>{{ e.nomProduit }}</td>
            <td>{{ e.libelle }}</td>
            <td>{{ e.coutrevien }}</td>
            <td>{{ e.prixvente }}</td>
            <td>{{ e.descriptionProduit }}</td>

            <td>
              <button
                class="btn btn-danger btn-sm"
                style="margin-left: 10px;"
                (click)="supprimer(e.idProduit)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
