

<!-- Default box -->
<div class="box" style="background-color:rgba(109, 125, 177, 0.164);">

  <div class="box-header with-border  headertitle" >
    <h3 class="box-title"><b>Liste des Fournisseur </b></h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-block  btn-sm" style="background-color:rgba(194, 0, 0, 0.63); color: cornsilk;"  (click)=" nouveaufournisseur()">Créer nouveau fournisseur</button>
    </div>
    <div class="box-tools pull-right">
      &nbsp;&nbsp;&nbsp;
    </div>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-block  btn-sm"  style="background-color:rgba(32, 23, 153, 0.781); color: cornsilk;" (click)="affiche()"><b>afficher liste</b></button>
    </div>
  </div>

  <div class="box box-default">

    <div class="box-header with-border soustitre" >
      <h3 class="box-title"> Rechercher fournisseur</h3>
    </div>


    <div class="box-body" style="background-color:rgba(109, 125, 177, 0.164);">

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="codarticle">Nom Fournisseur</label>
            <form class="form-inline md-form mr-auto mb-4">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="nomfournisseur" name="nomfournisseur" [(ngModel)]="nomfournisseur" required>
              <button class="btn btn-primary btn-sm" type="submit"(click)="rechfr()"  ><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
            </form>
          </div>
        </div> 
        <!-- (click)="rechprod()" (click)="affliste()"-->

      </div>
      <!--row1-->

      <div class="row">
      </div>
      <!--row1-->

    </div>
    <!-- boxbody-->

  </div>
  <!--boxbody defaut-->


  <div class="box box-default">

    <div class="box-header with-border soustitre" >
      <h3 class="box-title">Liste des fournisseurs</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

    <div class="box-body">
      <table id="example1" class="table table-bordered">
        <thead style="background-color:rgba(109, 125, 177, 0.164);">
          <tr>
      
            <th class="col-md-2">Nom</th>
            <th   class="col-md-2">Adresse </th>
            <th  class="col-md-2">E_mail</th>
            <th  class="col-md-2">N°telephone</th>
            <th  class="col-md-2">N°Fax</th>
            <th  class="col-md-2">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of fournisseur">
            <td><b>{{e.nomfr}}</b></td>
            <td>{{e.adresse}},&nbsp;{{e.villefr}},&nbsp;{{e.codepostal}}</td>
            <td>{{e.mailfr}}</td>
            <td>{{e.telfr}}</td>
            <td>{{e.fax}}</td>
              <td><button class=" btn btn-fill btn-info" [routerLink]="['../edit',e.idfr]"><i class="fa fa-edit"></i></button>
              <button class="btn btn-danger btn-fill"style="margin-left: 10px;" data-toggle="modal" (click)="idfrournisseur(e.idfr)" data-target="#delete"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
<!--[routerLink]="['../edit',c.libelle] (click)="afficheliste()" (click)="rechcategorie() (click)="delete(e.idfr)""-->

        </tbody>
      </table>
    </div>

  </div>
  <!--boxbody defaut-->

</div>
<!--box-->
<div class="modal modal-danger fade" id="delete" *ngFor = "let e of fournisseur">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" class="text-center">confirmation suppression </h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Voulez vous vraiment supprimer ?? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Non , anuuler</button>
        <button type="submit" class="btn btn-outline" (click)="supprimer(idPr)" data-dismiss="modal" >Oui , supprimer</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
