<!-- Content Wrapper. Contains page content -->


<!-- Default box -->
<div class="box" style="background-color:rgba(109, 125, 177, 0.164);">

    <div class="box-header with-border" style="background-color:rgba(7, 79, 161, 0.534);">
      <h3 class="box-title"><b>Liste des articles</b></h3>
      <div class="box-tools pull-right">
   
        <button type="button" class="btn btn-block  btn-sm" style="background-color:rgba(194, 0, 0, 0.63); color: cornsilk;"(click)="ajouterarticle()" >Ajouter article</button>
  
  </div>
 
  <div class="box-tools pull-right">
    &nbsp;&nbsp;&nbsp;
  </div>
  <div class="box-tools pull-right">
    <button type="button" class="btn btn-block  btn-sm"  style="background-color:rgba(32, 23, 153, 0.781); color: cornsilk;" (click)="afficheliste()"><b>afficher liste</b></button>
  </div>
    </div>
  
  
    <div class="box box-default">
   
      <div class="box-header with-border" style="background-color:rgba(7, 79, 161, 0.534);">
        <h3 class="box-title"> Rechercher article</h3>
      </div>
  
  
      <div class="box-body" style="background-color:rgba(109, 125, 177, 0.164);">
  
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="codarticle">code article</label>
              <form class="form-inline md-form mr-auto mb-4">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="codearticle" name="codearticle" [(ngModel)]="codearticle" required>
                <button class="btn btn-primary btn-sm" type="submit" (click)=" recherchearticle()" ><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
              </form>
            </div>
          </div> 
          <!-- (click)="rechprod()" (click)="affliste()"-->

        </div>
        <!--row1-->
  
        <div class="row">
        </div>
        <!--row1-->
  
      </div>
      <!-- boxbody-->
  
    </div>
    <!--boxbody defaut-->
  
  
    <div class="box box-default">
  
      <div class="box-header with-border" style="background-color:rgba(7, 79, 161, 0.534);">
        <h3 class="box-title">Liste des articles</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
  
      <div class="box-body">
        <table id="example1" class="table table-bordered">
          <thead style="background-color:rgba(109, 125, 177, 0.164);">
            <tr>
              <th class="col-md-1">ID article</th>
                <th class="col-md-1">Code article</th>
                <th   class="col-md-1">Libellé </th>
                <th  class="col-md-2">Description</th>
                <th  class="col-md-1">Type</th>
                <th  class="col-md-1">Nature</th>
                <th  class="col-md-1">stockage</th>
                <th  class="col-md-1">Seuil min</th>
                <th  class="col-md-1">Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of listeajout">
              <td>{{e.idarticle}}</td>
                <td>{{e.codearticle}}</td>
                <td><b>{{e.libellearticle}}</b></td>
                <td>{{e.description}}</td>
                <td>{{e.typearticle}}</td>
                <td>{{e.nature}}</td>
                <td>{{e.typestockage}}</td> 
                <td>{{e.seuilmin}}</td>
               <td> <button class=" btn btn-fill btn-info"[routerLink]="['../edit',e.idarticle] "><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-fill"style="margin-left: 10px;" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash"></i></button>
              </td>
            </tr>
  
  
          </tbody>
        </table>
      </div>
  
    </div>
    <!--boxbody defaut-->
  
  </div>
  <!--box-->
  <div class="modal modal-danger fade" id="delete" *ngFor = "let e of listeajout">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" class="text-center">confirmation suppression </h4>
        </div>
        <div class="modal-body">
          <p class="text-center">Voulez vous vraiment supprimer ?? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Non , anuuler</button>
          <button type="submit" class="btn btn-outline" (click)="delete(e.codearticle)" data-dismiss="modal" >Oui , supprimer</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>