<!-- Content Wrapper. Contains page content -->


<!-- Default box -->
<div class="box">

  <div class="box-header with-border  headertitle">
    <h3 class="box-title"><b>Reception article {{nreception}}</b></h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-block btn-danger btn-sm"(click)="annuler(nreception)">Annuler</button>
    </div>
    <div class="box-tools pull-right">
      &nbsp;&nbsp;&nbsp;
    </div>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-primary btn-success btn-sm" (click)="valider(nreception)"><b>Valider réception</b></button>
    </div>

  </div>

  <div class="box box-default">
    <div class="box-header with-border soustitre">
      <h3 class="box-title">Informations générales</h3>

      <div class="box-tools pull-right">
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="codarticle">Code article</label>
            <input type="text" class="form-control" id="codarticle" name="codarticle" [(ngModel)]="codarticle"
              placeholder="" required>
          </div>
        </div>



        <div class="col-md-3">
          <div class="form-group">
            <label for="libelle">Libellé article</label>
            <input type="text" class="form-control" id="libellearticle" name="libellearticle" [ngModel]="libellearticle" placeholder="" [value]="getlibelle()"
              disabled="disabled" disabled required>
          </div>
        </div>
        <div class="col-md-2"style="width:100px">
          <div class="form-group">
            <label for="quantite">Quantite</label>
            <input type="text" class="form-control" id="quantite" name="quantite" [(ngModel)]="quantite"
              placeholder="" required>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="prixachat">Prix achat</label>
            <input type="text" class="form-control" id="prixachat" name="prixachat" [(ngModel)]="prixachat"
              placeholder="" required>
          </div>
        </div>
        <div class="col-md-2"style="width:100px">
          <div class="form-group">
            <label for="remise">Remise</label>
            <input type="text" class="form-control" id="remise" name="remise" [(ngModel)]="remise"
              placeholder="" required>
          </div>
        </div>
        <div class="col-md-2"style="width:100px">
          <div class="form-group">
            <label for="taxe">Taxes</label>
            <input type="text" class="form-control" id="taxe" name="taxe" [(ngModel)]="taxe"
              placeholder="" required>
          </div>
        </div>

      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Fournisseur</label>
            <select  class="form-control select2" class="form-control"  style="width: 100%;"  id="fournisseur" name="fournisseur"  [(ngModel)]="fournisseur"value="typebox" required>
              <option  selected value="" disabled>{{typebox}}</option>
              <option *ngFor="let s of listefournisseur" [value] = s.nomfr>{{s.nomfr}}</option>
            </select>   
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="numfact">Num facture</label>
            <input type="text" class="form-control" id="numfact" name="numfact" [(ngModel)]="numfact"
              placeholder="" required>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Date fin de validité:</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="datepicker" name="datefinv" [(ngModel)]="datefinv"
                required>
            </div>
          </div>

        </div>

       









        <div class="col-md-4">
          <div class="form-group">
            <label for="description">Commentaire Reception</label>
            <textarea class="form-control" rows="1" id="description" name="description" [(ngModel)]="description"
              required></textarea>
          </div>
        </div>
      </div>
      <!-- /.row -->
    


      <!-- /.row -->

    </div>
    <!-- /.box-defaut -->
    <div class="box box-default">
     
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Emplacement de stockage</label>
              <select class="form-control select2" style="width: 100%;" id="type" name="type" [(ngModel)]="type" value="typebox2"
              required >
              <option selected="selected"disabled="disabled">{{typebox2}}</option>
              <option value="emplacement1">emplacement 1</option>
                <option value="emplacement2">emplacement 2</option>
                <option value="emplacement3">emplacement 3</option>
                <option value="emplacement4">emplacement 4</option>
            </select>
              
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Type de stockage</label>
              <select class="form-control select2" style="width: 100%;" id="typestockage" name="typestockage" value="typebox2"
                required disabled>
                <option selected="selected"disabled="disabled">{{typebox2}}</option>
                <option value="Normal">Normal</option>
                <option value="Froid">Froid</option>
              </select>
            </div>
          </div>
          <div class="col-md-7">
            <div class="box-tools pull-right" style="padding-right: 76px; padding-top: 24px;">
              <button type="button" class="btn btn-primary btn-success btn-sm"(click)="ajouter()" ><b>Ajoutée</b></button>
            </div>
        
          </div>
         



        </div>

      </div>
      <!-- /.box-body -->

      <!-- /.box-defaut -->
    </div>

  </div>

  <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title" >Détails Reception</h3>

      <div class="box-tools pull-right">
      </div>
    </div>

    <div class="box-body">
      <table id="example1" class="table table-bordered">
        <thead>
          <tr>
            <th class=" text-center" class="col-md-1">N° ligne</th>
            <th class=" text-center" class="col-md-1">Code produit</th>
            <th  class=" text-center" class="col-md-1">Libellé </th>
            <th class=" text-center" class="col-md-1">Quantité </th>
            <th class=" text-center" class="col-md-1">Prix unit</th>
            <th class=" text-center" class="col-md-1">Prix total</th>
            <th class=" text-center" class="col-md-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let s of stock" >
            <td>{{s.nligne}}</td>
            <td>{{s.codearticle}}</td>
            <td>{{s.libellearticle}}</td>
            <td>{{s.qteentree}}</td>
            <td>{{s.prixunitaire}}</td>
            <td>{{s.prixTotal}}</td>
            <td><button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="suppartreception(s.nligne)"><i class="fa fa-trash"></i></button></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>

