<div class="box">
  <div class="box-header with-border headertitle">
    <h3 class="box-title" class=" text-center">Liste des PRODUIT</h3>
  </div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table tablesorter" >
        <thead class=" text-primary">
          <tr>
            <th class=" text-center">id</th>
            <th class=" text-center"> Diametre</th>
            <th class=" text-center"> nom Produit</th>
            <th class=" text-center">cout de revien </th>
            <th class=" text-center">prix Vente</th>
            <th class=" text-center">description</th>
            <th class=" text-center">Type PRODUIT</th>
            <th class=" text-center">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produit">
            <td class=" text-center"><a [routerLink]="['../edit',p.idProduit]"><b>{{p.idProduit}}</b></a></td>
            <td class=" text-center">{{p.diametre}}</td>
            <td class=" text-center">{{p.nomProduit}}</td>
            <td class=" text-center">{{p.coutrevien}}</td>
            <td class=" text-center">{{p.prixvente}}</td>
            <td class=" text-center">{{p.descriptionProduit}}</td>
            <td class=" text-center">{{p.libelle}}</td> 
           

            <td>
              <button class=" btn btn-fill btn-info" [routerLink]="['../edit',p.idProduit]"><i class="fa fa-eye"></i></button>
              <button class="btn btn-warning btn-sm"style="margin-left: 10px;"  (click)="delete(p.idProduit)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!-- /.box-body -->

</div>