<div class="box">
  <div class="box-header with-border headertitle">
    <h3 class="box-title"><b>Création article</b></h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-block btn-sm exemple"
        (click)="retourliste()">
        Retour liste
      </button>
    </div>
  </div>

  <div class="box box-default">
    <div class="box-header with-border soustitre">
      <h3 class="box-title">Informations générales</h3>

      <div class="box-tools pull-right"></div>
    </div>
    <form [formGroup]="addArticle" (ngSubmit)="creer()">
      <div class="box-body" >
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="codearticle">Code article</label>
              <input type="text" class="form-control" id="codearticle" name="codearticle" formControlName="codearticle"  >
              <div *ngIf="codearticle.touched && codearticle.invalid">
                <small *ngIf="codearticle.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  le code  est requis<br></small>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="libelle">Libellé article</label>
              <input type="text" class="form-control" id="libelle" name="libelle" formControlName="libelle" >
              <div *ngIf="libelle.touched && libelle.invalid">
                <small *ngIf="libelle.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  le libelle  est requis<br></small>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="libelle">Unité </label>
              <input type="text" class="form-control" id="unite" name="unite" formControlName="unite">
              <div *ngIf="unite.touched && unite.invalid">
                <small *ngIf="unite.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  le code  est requis<br></small>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                type="text"
                class="form-control"
                id="description"
                name="description"
                formControlName="description"
              
                 
              ></textarea>
            </div>
          </div>
        </div>

        <div class="box-header with-border soustitre">
          <h3 class="box-title">Données logestiques</h3>
        </div>
        <!-- /.box-header -->

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Type article</label>
              <select class="form-control select2" style="width: 100%;" id="type" name="type" formControlName="type"
               value="naturebox">
                <option selected value="" disabled>Choisir</option>
                <option value="matiere premiere">matière première</option>
                <option value="consommable">Consommables</option>
              </select>
              <div *ngIf="type.touched && type.invalid">
                <small *ngIf="type.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  type  est requis<br></small>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Nature article</label>
              <select class="form-control select2" style="width: 100%;" id="nature" name="nature" formControlName="nature">
                <option selected value="" disabled>Choisir</option>
                <option value="solide">Solide</option>
                <option value="liquide">Liquide</option>
                <option value="dangereux">Dangereux</option>
              </select>
            </div>
            <div *ngIf="nature.touched && nature.invalid">
              <small *ngIf="nature.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  nature  est requis<br></small>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Type de stockage</label>
              <select class="form-control select2" style="width: 100%;" name="typestockage" formControlName="typestockage"
                id="typestockage" >
                <option selected value="" disabled>Choisir</option>
                <option value="normal">Normal</option>
                <option value="froid">Froid</option>
              </select>
             
         </div>
         <div *ngIf="typestockage.touched && typestockage.invalid">
          <small *ngIf="typestockage.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  type stockage  est requis<br></small>
         </div>
          </div>


          <div class="col-md-3">
            <div class="form-group">
              <label for="libelle">Seuil min réappro</label>
              <input type="text" class="form-control" id="seuil" name="seuil" formControlName="seuil" placeholder="" >
            </div>
            <div *ngIf="seuil.touched && typestockage.invalid">
              <small *ngIf="seuil.errors.required" class="text-danger"><i class=" fa fa-times-circle"></i>  seuil  est requis<br></small>
            </div>

           
          </div>
        </div>

        <!-- /.box-body -->
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-success btn-sm ajout"  [disabled]="addArticle.invalid">
                Créer Article
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box-defaut -->

  <div class="box box-default">
    <div class="box-header with-border soustitre">
      <h3 class="box-title">Détails Liste</h3>

      <div class="box-tools pull-right"></div>
    </div>

    <div class="box-body">
      <table id="example1" class="table table-bordered">
        <thead >
          <tr>
            <th class="col-md-1">Code article</th>
            <th class="col-md-1">Libellé</th>
            <th class="col-md-1">Unité</th>
            <th class="col-md-2">Description</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-1">Nature</th>
            <th class="col-md-1">stockage</th>
            <th class="col-md-1">Seuil min</th>
            <th class="col-md-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of listeajout">
            <td>{{ e.codearticle }}</td>
            <td>
              <b>{{ e.libellearticle }}</b>
            </td>
            <td>{{ e.unite }}</td>
            <td>{{ e.description }}</td>
            <td>{{ e.typearticle }}</td>
            <td>{{ e.nature }}</td>
            <td>{{ e.typestockage }}</td>
            <td>{{ e.seuilmin }}</td>
            <td>
              <button class="btn btn-danger btn-sm" style="margin-left: 10px;" (click)="supparticle(e.codearticle)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--boxbody defaut-->
</div>