<div class="box">


    <div class="box-header with-border  headertitle">
        <h3 class="box-title"><b>Modifier Profil</b></h3>
        <div class="box-tools pull-right">

            <button type="button" class="btn btn-block  btn-sm exemple" (click)="retour()">SORTIE</button>

        </div>


    </div>





    <div class="box box-default">
        <div class="box-header with-border soustitre">
            <h3 class="box-title">Informations Générales</h3>

            <div class="box-tools pull-right">
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="codearticle">Nom </label>
                        <input type="text" class="form-control" id="nom" placeholder="" name="nom" [(ngModel)]="nom"
                            value="{{nomuser}}" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="libelle">Prénom</label>
                        <input type="text" class="form-control" id="prenom" placeholder="" name="prenom"
                            [(ngModel)]="prenom" value="{{prenomuser}}" required>
                    </div>
                </div>



            </div>




            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="codearticle">Login </label>
                        <input type="text" class="form-control" id="login" placeholder="" name="login"
                            [(ngModel)]="login" value="{{loginuser}}" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="libelle">E_mail</label>
                        <input type="text" class="form-control" id="mail" placeholder="" name="mail" [(ngModel)]="mail"
                            value="{{email}}" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <div style="width:200px; border:1px solid black;box-shadow: 7px 7px grey; position: relative; float: left; margin-left:200px;">
                        
                        <img [src]="photo" alt="" style="max-width: 100%; max-height: 100%; display: block;">

                    </div>

                </div>

            </div>





            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="codearticle">Mot De Passe </label>
                        <input type="password" class="form-control" id="mdp" placeholder="" name="mdp" [(ngModel)]="mdp"
                            value="{{mpduser}}" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="libelle">Confirmation Mot De Passe </label>
                        <input type="password" class="form-control" id="cmdp" placeholder="" name="cmdp" [(ngModel)]="cmdp"
                            value="" required>
                    </div>
                </div>

                <div class="col-md-6" style="width:300px;  margin-left: 150px; margin-top: 10px;">
                    <div class="form-group">
                        <label for="libelle">choisir image </label>
                        <input type="file" (change)="onFileSelected($event)" name="avatar" accept="image/*"
                            class="form-control" id="photo" [(ngModel)]="photo"     required>
                    </div>
                </div>


            </div>



            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-block btn-success btn-sm ajout"
                            (click)="enregistre()">Enregistrée</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-block btn-danger btn-sm ajout1">Annuler</button>
                    </div>

                </div>
                <div class="col-md-1" style="margin-left: 312px;">
                <div class="form-group">
                  <button type="button" class="btn btn-block btn-success btn-sm ajout" (click)="onUpload()">Upload</button>
                </div>
                
              </div> 

            </div>



        </div>
    </div>
    <!-- /.row -->




</div>