<!-- Content Wrapper. Contains page content -->


      <!-- Default box -->
      <div class="box">

        <div class="box-header with-border  headertitle">
          <h3 class="box-title"><b>Detail de VENTE </b></h3>
 
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-block  btn-sm"  style="background-color:rgba(32, 23, 153, 0.781); color: cornsilk;"(click)="retourlist()" ><b>retour  liste</b></button>
          </div>
        </div>

        
       

      
        <div class="box box-default">

    <div class="box-header with-border soustitre">
      <h3 class="box-title">Liste des produits</h3>
      <div class="box-tools pull-right">  
        <input type="text" class="form-control input-lg" class="text-center bold" id="benficetotal" name="benficetotal" [(ngModel)]="benficetotal" value="{{benficetotal}}" disabled="disabled" disabled required>
      </div>
      
      <div class="box-tools pull-right">  
        &nbsp;&nbsp;&nbsp;
      </div>

      <div class="box-tools pull-right">  
        <label for="libelle">Benefice TOTAL</label>
      </div>
    </div>

<div class="box-body">
<table id="example1" class="table table-bordered">
<thead>
  <tr>
    <th class="col-md-2" >Nom produit</th>
   
    <th class="col-md-2">Quantite VENTE</th>
    <th class="col-md-1">prix vente </th>
    <th class="col-md-2">Montant TOTAL</th>
    <th class="col-md-2">Benefice TOTAL</th>
    


  </tr>
</thead>
<tbody>
  <tr *ngFor="let e of production">
   
    <td>{{e.nomProduit}}</td>
   
    <td>{{e.qtevente}}</td>
    <td>{{e.prixvente}}</td>
    <td>{{e.montantvente}}</td>
    <td>{{e.benefice}}</td>
      
    
</tr>      


</tbody>
</table>
</div>

        </div>
        <!--boxbody defaut-->

      </div>
      <!--box-->



    

