<div class="box" style="background-color:rgba(109, 125, 177, 0.198);">


    <div class="box-header with-border headertitle" style="background-color:rgba(7, 79, 161, 0.616);">
      <h3 class="box-title"><b> Modification  fournisseur</b></h3>
      <div class="box-tools pull-right">
  
            <button type="button" class="btn btn-block btn-sm"  style="background-color:rgba(32, 23, 153, 0.781); color: cornsilk;" v (click)="retourliste()">Retour liste</button>
  
      </div>
      <!--(click)="retourliste()-->
  
    </div>
  
  
    
   
  
    <div class="box box-default">
      <div class="box-header with-border" style="background-color:rgba(109, 125, 177, 0.493);">
        <h3 class="box-title">Informations générales</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body"style="background-color:rgba(109, 125, 177, 0.198);">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="codearticle">Nom </label>
              <input type="text" class="form-control" id="nomfournisseur" name="nomfournisseur" [(ngModel)]="nomfournisseur"placeholder="" value="{{nomfournisseur}}" required>
            </div>
          </div>  
  
          <div class="col-md-4">
            <div class="form-group">
              <label for="libelle">Adresse</label>
              <input type="text" class="form-control" id="adresse"name="adresse" [(ngModel)]="adresse" placeholder=""value="{{adresse}}"  required>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="form-group">
              <label for="codearticle">Ville</label>
              <input type="text" class="form-control" id="ville" name="ville" [(ngModel)]="ville"placeholder="" value="{{ville}}" required>
            </div>
          </div>  
          <div class="col-md-2">
            <div class="form-group">
              <label for="codearticle">Code postal</label>
              <input type="text" class="form-control" id="codepostal" name="codepostal" [(ngModel)]="codepostal"placeholder="" value="{{codepostal}}" required>
            </div>
          </div>  
  
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="codearticle">Adress E_mail </label>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email"placeholder="" value="{{email}}" required>
            </div>
          </div>  
  
          <div class="col-md-3">
            <div class="form-group">
              <label for="codearticle">N° telephone</label>
              <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="telephone"placeholder="" value="{{telephone}}" required>
            </div>
          </div> 
  
          <div class="col-md-3">
            <div class="form-group">
              <label for="codearticle">N° Fax</label>
              <input type="text" class="form-control" id="fax" name="fax" [(ngModel)]="fax"placeholder="" value="{{fax}}" required>
            </div>
          </div>  
         
  
        </div>
        <div class="row">
  
          <div class="col-md-3">
            <div class="form-group">
              <button type="button"  class="btn btn-block  btn-sm"style="background-color:rgba(194, 0, 0, 0.63); color: cornsilk;" (click)="edit(idfr)" >Modifier Fournisseur</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  
  
  
    <!-- /.box-defaut -->
  
    <div class="box box-default">
    
      <div class="box-header with-border" style="background-color:rgba(109, 125, 177, 0.493);" >
        <h3 class="box-title">Détails Fournisseur</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
  
      <div class="box-body">
        <table id="example1" class="table table-bordered">
          <thead style="background-color:rgba(109, 125, 177, 0.198);">
            <tr>
              <th class="col-md-2">Nom</th>
              <th   class="col-md-3">Adresse </th>
              <th  class="col-md-2">E_mail</th>
              <th  class="col-md-2">N°telephone</th>
              <th  class="col-md-2">N°Fax</th>
              <th  class="col-md-1">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of fournisseur">
              <td><b>{{e.nomfr}}</b></td>
              <td>{{e.adresse}},&nbsp;{{e.villefr}},&nbsp;{{e.codepostal}}</td>
              <td>{{e.mailfr}}</td>
              <td>{{e.telfr}}</td>
              <td>{{e.fax}}</td>
              <td><button class="btn btn-success btn-sm" style="margin-left: 10px;" (click)=" retourliste() " ><i class="fa fa-check"></i></button></td>
            </tr>
  
          </tbody>
        </table>
      </div>
  
    </div>
    <!--boxbody defaut-->
  </div>
  
  