<!-- Content Wrapper. Contains page content -->


<!-- Default box -->
<div class="box">

    <div class="box-header with-border  headertitle">
      <h3 class="box-title"><b>Liste des factures</b></h3>
  
    </div>
  
  
    <div class="box box-default">
  
      <div class="box-header with-border soustitre">
        <h3 class="box-title"> Rechercher facture</h3>
      </div>
  
  
      <div class="box-body">
  
        <div class="row">

            


            <div class="col-md-2">
                <div class="form-group">
                  <label>Type de facture</label>
                  <select class="form-control select2" style="width: 100%;" id="type" name="type">
                    <option selected="selected" disabled="disabled">Choisir</option>
                    <option value="vente">Vente</option>
                    <option value="achat">Achat</option>
                    <option value="divers">Divers</option>
                  </select>
                </div>
              </div>

              
    
          <div class="col-md-2">
            <div class="form-group">
              <label for="libelle"></label>
              <button type="button" class="btn btn-block btn-primary" >Rechercher</button>
            </div>
          </div>
         <!--(click)="rechprod()"(click)="affliste()"(click)="supprimer(e.numproduction)"--> 
          <div class="col-md-2">
            <div class="form-group">
              <label for="libelle"></label>
              <button type="button" class="btn btn-block btn-success" >Affiche liste</button>
            </div>
          </div>
  
        </div>
        <!--row1-->
  
        <div class="row">
        </div>
        <!--row1-->
  
      </div>
      <!-- boxbody-->
  
    </div>
    <!--boxbody defaut-->
  
  
    <div class="box box-default">
  
      <div class="box-header with-border soustitre">
        <h3 class="box-title">Liste des factures</h3>
  
        <div class="box-tools pull-right">
        </div>
      </div>
  
      <div class="box-body">
        <table id="example1" class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-1">N° facture </th>
  
              <th class="col-md-1">Type facture</th>
              <th class="col-md-1">Nbr ligne</th>
              <th class="col-md-2">Date création</th>
              <th class="col-md-2">Montant total</th>
              <th class="col-md-1">Etat</th>
              <th class="col-md-2">Action</th>
  
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of facture">
              <td>{{e.nfacture}}</td>
              <td>{{e.types}}</td>
              <td>{{e.nligne}}</td>
              <td>{{e.datesys}}</td>
              <td>{{e.montanttotal}}</td>
              <td>{{e.etat}}</td>
              <td>

                <button class="btn btn-success btn-sm" style="margin-left: 10px;" (click)="typefacture(e.nfacture,e.types)">
                  <i class="fa fa-eye"></i></button>&nbsp;&nbsp;

                
  


                <button class="btn btn-danger btn-sm" style="margin-left: 10px;" ><i
                    class="fa fa-trash"></i></button>
  
              </td>
            </tr>
  
  
          </tbody>
        </table>
      </div>
  
    </div>
    <!--boxbody defaut-->
  
  </div>
  <!--box-->
